<AuthorizeView>
    <Authorized>
        <a class="login-link py-1 my-auto" href="MicrosoftIdentity/Account/SignOut">
            Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="login-link py-1 my-auto" href="MicrosoftIdentity/Account/SignIn">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>
