@inherits LayoutComponentBase

<PageTitle>CreativeBlogs</PageTitle>

<div class="page">
    <main class="container-xxl">
        
        <article class="content px-4">
            <LoginDisplay />
            @Body
        
        </article>
    </main>
</div>
