@inherits LayoutComponentBase

<PageTitle>Creative Blogs</PageTitle>

<div class="page">
    <main class="container-xxl">
        
        <article class="content pt-1 px-3">
            @Body
        </article>
    </main>
</div>
