@inherits LayoutComponentBase

<PageTitle>CreativeBlogs</PageTitle>

<div class="page">
    <main>
        
        <article class="content px-4">
            @Body
            <LoginDisplay/>
        </article>
    </main>
</div>
