@page "/"
@inject NavigationManager navManager
<PageTitle>Index</PageTitle>

<h3 class="border-4 border-dark">Yo this is the start page</h3>
<button class="btn btn-dark" @onclick="SamplePage">Sample Data</button>



@code {

    private void SamplePage() 
    {
        navManager.NavigateTo("/SampleData");
    }
}


