@page "/SampleData"
@inject ITagsData tagsData
@inject IUserData userData
@inject IBlogPostData blogpostData



<h3>SampleData</h3>




<button class="btn btn-primary" @onclick="CreateTags">Create Tags</button>
@if (tagsIsCreated == true)
{
    <h4>Tags have been created</h4>
}

<button class="btn btn-danger" @onclick="GenerateSampleData">Generate Sample Data</button>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="sortTags">Sort by</button>
    <ul class="dropdown-menu" aria-labelledby="sortTags">
        <li><a class="dropdown-item" href="#">This</a></li>
        <li><a class="dropdown-item" href="#">Will</a></li>
        <li><a class="dropdown-item" href="#">Surely</a></li>
        <li><a class="dropdown-item" href="#">Probably</a></li>
        <li><a class="dropdown-item" href="#">Work</a></li>
        <li><a class="dropdown-item" href="#">Right?</a></li>
    </ul>
</div>


@code {
    private bool tagsIsCreated = false;
  

    private async Task GenerateSampleData()
    {
        UserModel user = new()
            {
                DisplayName = "mamo_test",
                EmailAddress = "mamo@test.com",
                ObjectIdentifier = "63408785cb31c1c3ac14932f"
            };
        await userData.CreateUser(user);

        var foundUser = await userData.GetUserFromAuthentication("63408785cb31c1c3ac14932f");
        var tags = await tagsData.GetAllTags();

        HashSet<string> bookmarks = new();
        bookmarks.Add("1");
        bookmarks.Add("2");
        bookmarks.Add("3");

        BlogPostModel blogPostModel = new()
            {
                Author = new BasicUserModel(foundUser),
                Tag = tags[0],
                Title = "First Post",
                Bookmarks = bookmarks,
                Description = "This is the first post ever on this website, although it is just a \nsample post created for testing. But it is still a first post though"
            };
        await blogpostData.CreateBlogPost(blogPostModel);

        blogPostModel = new()
            {
                Author = new BasicUserModel(foundUser),
                Tag = tags[1],
                Title = "Second Post",
                Description = "This is the second post ever on this website, although it is just a " + 
                              "\nsample post created for testing. Not as exciting as the first post though"
            };
        await blogpostData.CreateBlogPost(blogPostModel);

        blogPostModel = new()
            {
                Author = new BasicUserModel(foundUser),
                Tag = tags[2],
                Title = "Third Post",
                Description = "This is the third post ever on this website, although it is just a " +
                              "\nsample post created for testing. At this point no one cares about the posts " + 
                              "\n after the second post though. I mean it's just the third post out of many posts"
            };
        await blogpostData.CreateBlogPost(blogPostModel);
        
    }

    private async Task CreateTags() 
    {
        var tags = await tagsData.GetAllTags();
        if (tags?.Count > 8)
        {
            return;
        }

        TagModel tag = new()
            {
                TagName = "Hobbies",
                TagDescription = "This tag is for posts that talk about your hobbies in general such as ranking hobbies or talk about good or bad hobbies or explaining about your hobby"
            };
        await tagsData.CreateTags(tag);

        tag = new()
            {
                TagName = "Fiction",
                TagDescription = "This tag is for posts that talk about fiction in general such as books you have read or cartoons/anime/reality tv that you have watched and your recommendations etc."
            };
        await tagsData.CreateTags(tag);

        //tag = new()
        //    {
        //        TagName = "Technology",
        //        TagDescription = "This tag is for posts that talk about Technology in general such as what new technology came out or how to use a certain technology etc."
        //    };
        //await tagsData.CreateTags(tag);

        //tag = new()
        //    {
        //        TagName = "Politics",
        //        TagDescription = "This tag is for posts that talk about politics in general such as discussing what politician is good or bad or good and bad policies etc."
        //    };

        await tagsData.CreateTags(tag);

        tagsIsCreated = true;
    } 
}
